# Default values for url-shortener

# Default values for url-shortener

replicaCount: 2

image:
  repository: ghcr.io/asstrid98/url-shortener
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5000

route:
  enabled: true
  host: ""  # Dejar vacío para autogenerar

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "500m"

config:
  baseUrl: ""  # Se autoconfigura con la route

database:
  enabled: true
  host: postgresql
  port: 5432
  # IMPORTANTE: Asegúrate de que estos coincidan con el Secret de postgresql.yaml
  name: urlshortener
  user: asstrid98
  password: password123

postgresql:
  enabled: true
  storage: 1Gi

cronjob:
  enabled: true
  schedule: "0 2 * * *"

probes:
  liveness:
    # Aumentamos un poco el tiempo para dar margen a la conexión inicial
    initialDelaySeconds: 15
    periodSeconds: 10
  readiness:
    initialDelaySeconds: 10
    periodSeconds: 5