name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types: [completed]
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install OpenShift CLI and Helm
        uses: redhat-actions/oc-installer@v1
        with:
          oc_version: 'latest'
          # Esto instalará automáticamente tanto 'oc' como 'helm'
          helm_version: 'latest'

      - name: Login to OpenShift
        run: |
          oc login --token=${{ secrets.OPENSHIFT_TOKEN }} --server=${{ secrets.OPENSHIFT_SERVER }} --insecure-skip-tls-verify
      
      - name: Deploy with Helm
        run: |
          helm upgrade --install url-shortener ./helm/url-shortener \
            --set image.repository=ghcr.io/${{ github.repository }} \
            --set image.tag=latest \
            --namespace asstrid-dev \
            --wait --timeout 15m0s
      
      - name: Verify Deployment
        run: |
          oc get all -n asstrid-dev
          ROUTE_URL=$(oc get route url-shortener -n asstrid-dev -o jsonpath='{.spec.host}' || echo "Route no encontrada")
          echo "Despliegue completado con éxito: https://$ROUTE_URL"